@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
@import url("http://weloveiconfonts.com/api/?family=fontawesome");

body {
  font-family: "Lato", sans-serif;
}

h1 {
  color: #2d3c59;
  font-weight: 300;
}

h2 {
  color: #7d97ad;
}

h3 {
  color: #2d3c59;
  font-weight: 400;
}

p {
  font-weight: 300;
}

a {
  color: #2d3c49;
}

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: "FontAwesome", sans-serif;
}

.brand-logo {
  font-size: 5em;
  color: #02b3e4;
}

.brand-area {
  border-bottom-width: .25em;
  border-bottom-color: #7d97ad;
  border-bottom-style: solid;
}

.img-app {
  margin: 0 auto;
}

.text-title {
  text-align: center;
}

@media screen and (min-width: 768px){
  .text-title {
      text-align: right;
  }
}

/* custom styling for nav */
.navbar {
  border: none;
}

.navbar-default {
  background-color: transparent;
  margin-top: 20px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a {
  color: #2d3c49;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #7d97ad;
}
